//Imports
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Overlock+SC&display=swap');

$bodybackground: #050A11;
$fontsize_default: 18px;
$sidebar_full_width: 260px;
$sidebar_mini_width: 80px;

//Defaults
*, a {margin: 0; padding: 0;}
ul {list-style-type: none;}
:root {font-size: $fontsize_default;}
h1, h2, h3, h4, h5, h6 {
    font-family: "Overlock SC", sans-serif;
    font-weight: 400;
    margin: 0;
}

body {
    background-color: #1c1c1c;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7b6503;
    &.sidebar_mini {max-width: $sidebar_mini_width}
    &.sidebar_full {max-width: $sidebar_full_width}

    &_title {
        margin: 20px 0;
        text-align: center;
    }

    &_content {

        &-group {
            margin-bottom: 20px;

            li {
                cursor: pointer;
                transition: all 0.13s linear;
                user-select: none;
                padding: 5px 7px 5px 15px;
                margin-bottom: 2px;
                &:hover {
                    background: #423702;
                }
            }
        }
    }
}



.focus {
    background: rgb(23, 1, 15);
    margin: 10px 0 20px;

    &.sidebar_mini {
        max-width: calc(100% - $sidebar_mini_width - 60px);
        margin-left: $sidebar_mini_width + 20px;
    }
    &.sidebar_full {
        max-width: calc(100% - $sidebar_full_width - 60px);
        margin-left: $sidebar_full_width + 20px;
    }
    padding: 0 10px;
    min-height: 60vh;
}

.mainbody {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mapzone {
    display: grid;
    grid-auto-flow: column;

    &.adventure {
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(8, 1fr);
        

    }

    .node {
        background: red;
        width: 80px;
        height: 55px;
        cursor: pointer;
        img {
            width: 80px;
            height: 55px;
        }

        .tile:hover {
            transform-origin: center;
            transition-duration: 0.32s;
            transform: scale(1.3);
        }
    }
}